.projects-section-main {
  width: 100%;
  min-height: 100vh; 
  text-align: center;
  padding: 7rem;
  
  font-family: "Inter", sans-serif;
  background: #F0F0F6;
  
}

.projects-section h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.projects-section p {
  font-size: 1rem;
  
  margin-bottom: 2rem;
  color: #767676;

}

.projects-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.project-card {
  background: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s;
  width: calc(33.333% - 2rem); 
  min-width: 300px;
  box-sizing: border-box;
  cursor: pointer;
}

.project-card:hover {
  transform: translateY(-10px);
}

.project-card img {
  width: 100%;
  height: auto;
}

.project-content {
  padding: 1rem;
}

.project-content h3 {
  margin-bottom: 0.5rem;
  font-size: 16px;
  font-weight: 500;
  line-height: 19.78px;
  text-align: left;
}

.project-content p {
  color: #767676;
  margin-bottom: 1rem;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.tag {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #EFEFEF;
  border-radius: 25px;
  font-size: 0.75rem;
  border: 1px solid #0000000D;
  width: 71px;
  height: 25.28px;
  padding: 0 14px;
  box-sizing: border-box;
}


@media (max-width: 1024px) {
  .project-card {
      width: calc(50% - 2rem); 
  }
}

@media (max-width: 768px) {
  .project-card {
      width: calc(100% - 2rem); 
  }
}
